@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::before{
    content: " ";
    background: url("/music-pic.webp") no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width:100% ; 
    z-index: -1;
    opacity: 1.2;
}
html{
    font-size: 62.5%;
    font-family: 'Jost', sans-serif;
}

.main_div{
 width: 100vw;
 height: 100vh;
/* background: color #f6f6f6; */
/* background-color: yellow; */
/* background-color: violet; */
display: grid;
place-items: center;
}
.music_container{
    width: 35rem;
    /* 1rem=10px */
    height: 55rem;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: 0 0.1rem 4rem 1rem rgba(0, 0, 0,0.2);
    padding: 3rem;
    /* text-align:; */
}
.music_container #title{
text-transform: uppercase;
letter-spacing: 0.2rem;
word-spacing: 02.5rem;
color: rgb(0, 0, 0);
font-size: 2.5rem;
font-weight: 500;
text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.music_container #artist{
color: #cccaca;
text-transform: capitalize;
letter-spacing: 0.1rem;
font-size: 2rem;
font-weight: 300;
margin-bottom: 4rem;

}
.img_container{
width: 25rem;
height: 25rem;
margin: auto;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow:  0 1.2rem 3rem 0.4rem rgba(0, 0, 0, 0.3);
}
.music_control{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 1rem;
    align-items: center;
}
.music_control.fas {
    color: #c01313;
    font-size: 2rem;
    cursor: pointer;
    filter: drop-shadow( 0 1.2rem 3rem 0.4rem rgba(0, 0, 0, 0.3));
}
.music_control #play{
    width: 5rem;
   height: 5rem;
   border-radius: 50%;
   background-color: #111;
   color: #f6f6f6;
   /* add display flex to center the button */
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.4rem;
    

}
.music_control .fas:hover{
 color:rgb(213, 208, 208);
 
}
.music_control #play:hover{
 color:#111;
 /* background-color: #f6f6f6; */
 background-color: rgb(213, 208, 208);
 box-shadow:  0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.3);

}
.anime{
    animation: rotatePlayer 10s linear  infinite;
}
@keyframes rotatePlayer{
    from{ 
        transform: rotate(0deg);
      }
      to{
          transform: rotate(360deg);
      }
}

/* progress style  */

.progressbar_container{
    width: 100%;
    height: auto;
    padding: 1rem 0;
    margin: 1rem;
}
.progress_div{
    width: 100%;
    height: 0.5rem;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07) ,0 4px 8px rgba(0, 0, 0, 0.07),0 8px 16px rgba(0, 0, 0, 0.07),0 16px 32px rgba(0, 0, 0, 0.07),0 32px 64px rgba(0, 0, 0, 0.07);
    margin-top: 0.5rem;
    border-radius: 4rem;
    position: relative;
    transition: all in linear;
    -moz-transition:all in linear;
    -webkit-transition: all in linear;
    -webkit-transition: all in linear;
    cursor: pointer;
    appearance: none;

}
.progress{
position: absolute;
top: 0;
left: 0;
width: 0%;
height: 100%;
background-color: black;
border-radius: 4rem;
/* transition: width in linear;
-moz-transition:width in linear;
-webkit-transition: width in linear;
-webkit-transition: width in linear; */
cursor: pointer;
appearance: none;

}
.progress_duration_meter{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}